{% block footer %}
<footer class="l-footer footer">
    <p class="copywrite"><a class="link-github" href="https://github.com/kozlov-a-d/animation-jelly-scroll">View On Github</a>  &copy; 2018</p>
</footer>
{% endblock %}