/**
 * Оменяем обтекание ( float )
 */
@mixin cfix-after{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    *zoom: 1;
  }
}
@mixin cfix-before{
  &:before{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    *zoom: 1;
  }
}
@mixin cfix{
  @include cfix-before;
  @include cfix-after;
}

/**
 * Центрированый контейнер
 */
@mixin container( $maxWidth: 1280px){
  width: 100%;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  @include cfix();
}

/*==========================================================================================*/
/*  Сетка миксинами  */
/*==========================================================================================*/

/* миксины элементов сетки */
@mixin grid($grid-gap){
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;
  
    &>*{
      margin-left: $grid-gap/2;
      margin-right: $grid-gap/2;
    }
  }
  @mixin grid-row(){
    display: flex;
    width: 100%;
    &>*{
      margin-left: $grid-gap/2;
      margin-right: $grid-gap/2;
    }
  }
  
  /* миксины устанавливающие стандартный размер блоков и отступов*/
  @mixin grid-col($grid-width, $grid-gap){
    width: #{'calc(' + $grid-width * 100% + ' - ' +  $grid-gap + ')'};
  }
  @mixin grid-col-offset($grid-width, $grid-gap){
    margin-left: #{'calc(' + $grid-width * 100% + ' + ' +  $grid-gap/2 + ')'};
  }
  
  /* миксины устанавливающие размер блоков и отступов по медиазапросам + можно вставлять дополнительные свойства*/
  @mixin grid-col-media($grid-width, $grid-gap, $grid-screen-prefix){
    // проверяем задано ли разрешение
    @if map-has-key($grid-screen, $grid-screen-prefix) {
  
      @media ( max-width: #{map-get($grid-screen, $grid-screen-prefix)} ) {
        @include grid-col($grid-width, $grid-gap);
        @content;
      }
  
    } @else {
      // если не задано, то выводим ошибку
      @warn "Unknown screen '#{$grid-screen-prefix}' in $grid-screen.";
    }
  
  }
  @mixin grid-col-offset-media($grid-width, $grid-gap, $grid-screen-prefix){
    // проверяем задано ли разрешение
    @if map-has-key($grid-screen, $grid-screen-prefix) {
  
      @media ( max-width: #{map-get($grid-screen, $grid-screen-prefix)} ) {
        @include grid-col-offset($grid-width, $grid-gap);
        @content;
      }
  
    } @else {
      // если не задано, то выводим ошибку
      @warn "Unknown screen '#{$grid-screen-prefix}' in $grid-screen.";
    }
  }