.response-img{
  @media (max-width: $media-xl){
    &-xl{
      display: block;
      width: auto !important;
      max-width: 100%;
      height: auto !important;
      float: none !important;
      margin: 0 auto 20px !important;
    }
  }
  @media (max-width: $media-lg){
    &-lg{
      display: block;
      width: auto !important;
      max-width: 100%;
      height: auto !important;
      float: none !important;
      margin: 0 auto 20px !important;
    }
  }
  @media (max-width: $media-md){
    &-md{
      display: block;
      width: auto !important;
      max-width: 100%;
      height: auto !important;
      float: none !important;
      margin: 0 auto 20px !important;
    }
  }
  @media (max-width: $media-sm){
    &-sm{
      display: block;
      width: auto !important;
      max-width: 100%;
      height: auto !important;
      float: none !important;
      margin: 0 auto 20px !important;
    }
  }
  @media (max-width: $media-xs){
    &-xs{
      display: block;
      width: auto !important;
      max-width: 100%;
      height: auto !important;
      float: none !important;
      margin: 0 auto 20px !important;
    }
  }
}